.container {
    text-align: center;
    margin-top: 50px;
}

img {
    width: 300px;
    height: auto;
    
}

p1 {
    text-align: center;
}
p2{
    text-decoration: underline;
}
p3{
    background-color: orange;
}
p5{
    background-color: red;
}
p7{
    background-color: red;

}
p9{
    text-decoration: underline;
}