
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    height: 350px;
}

.underline {
    text-decoration: underline;
}
.backgroundOrange{
    background-color: orange;
}
.backgroundRed{
    background-color: red;
}



p10{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    

}
    
    





 